@import 'tailwindcss';

.bg-orange-lightest {
  background-color: #fff8ed;
}
.bg-orange-light {
  background-color: #fdbe74;
}
.bg-orange-light-medium {
  background-color: #ffcd94;
}
.bg-orange-medium {
  background-color: #ffb347;
}
.bg-orange-dark {
  background-color: #ff8c66;
}

.text-orange {
  color: #ffb347;
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
