@import 'tailwindcss';

.bg-orange-lightest {
  background-color: #fff8ed;
}
.bg-orange-light {
  background-color: #fdbe74;
}
.bg-orange-medium {
  background-color: #fba454;
}
.bg-orange-dark {
  background-color: #f87917;
}
